{% load socialaccount %}
<html>
<body>
<h1>CrWizard Outh Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
  <input type="text" placeholder="Type xml link..." id="myInput">
  <button type="button" onclick="download();">Set As Database File</button>   
  <script>
    function download() {
        
        var text = document.getElementById("myInput").value;
        //creating an invisible element
        var element = document.createElement('a');
        element.setAttribute('href', text);
        element.setAttribute('download', '');
        // Above code is equivalent to
        // <a href="path of file" download="file name">
        document.body.appendChild(element);
      
        //onClick property
        element.click();
      
        document.body.removeChild(element);

    }     
 </script>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>